body {
  font-family: Arial, sans-serif;
  margin: 20px;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}


.contact-row {
  display: flex;
  flex-wrap: wrap;      
  gap: 10px;            
  margin-top: 20px;
}

.contact-box {
  flex: 1 1 300px;      
  background-color: lightgray;
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 250px;
  border: 0;
}


nav {
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  padding: 5px;
  color: black;
}


@media (max-width: 800px) {
  nav a {
    display: block;          
    background-color: lightgray;
    margin-bottom: 5px;
  }
}